extends layout

block body
  div.container
    div.row
      h1.pull-left Parts of Speech Analysis
      a.pull-right(href='http://github.com/incrediblesound/parts-of-speech')
        img(src='/images/Git.png' height='64' width='64')
    hr
    div.row
      div(ng-view)
      
  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/services.js')