doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Verbose
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script angular.bootstrap(document, ['myAppModule'])
  body
    block body